@model Session.Models.Category

@{
    ViewData["Title"] = "Details";
}

<section>

    <h1 class="text-center text-2xl font-semibold my-9">@Html.DisplayFor(model => model.Name)</h1>


    <div class="flex my-9 ml-9" id="add_button">
        <a class="p-2 rounded-md" asp-action="Edit" asp-route-id="@Model?.Id">edit category</a>
        <a class="p-2 rounded-md ml-6" asp-action="Delete" asp-route-id="@Model?.Id">delete category</a>
        <a class="p-2 rounded-md ml-6" asp-controller="Modules" asp-action="Create" asp-route-categoryId="@Model?.Id">add modules</a>
    </div>


    <div class="flex flex-wrap justify-evenly">

        @if (Model.Modules != null)
        {
            
            @foreach(var module in Model.Modules)
            {
            
                <div id="session" class="flex justify-center items-center flex-col rounded-md h-36 w-72  mr-14 mb-14">

                    <h2 class="text-center text-xl">@Html.DisplayFor(modelModule => module.Name)</h2>

                    <div class="flex flex-col items-center justify-end" id="add_button">
                        <a class="p-1 w-20 rounded-md text-center mb-2.5" asp-controller="Modules" asp-action="Edit" asp-route-id="@module.Id">edit</a>
                        <a class="p-1 w-20 rounded-md text-center mb-2.5" asp-controller="Modules" asp-action="Delete" asp-route-id="@module.Id">delete</a>

                    </div>

                </div>
            }
        }


    </div>

</section>
